<section>
  <hr>
  <div class="d-flex flex-row">
    <div class="col-2 d-flex align-items-center">
      <p class="fw-bold mb-0 text-start w-100">Nombre</p>
    </div>

    <div class="col-7 d-flex align-items-center">
      <p class="fw-bold mb-0 text-start w-100">Descripción</p>
    </div>

    <div class="col-2 d-flex align-items-center">
      <p class="fw-bold mb-0 text-start w-100">Modificado</p>
    </div>

    <div class="col-1 d-flex align-items-center">
      <p class="fw-bold mb-0 text-center w-100">Acciones</p>
    </div>
  </div>
  <hr>
</section>


@for (library of libraries(); track library.id) {
<library-card [library]="library"></library-card>
<hr>
}